---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/composits/Hero.astro";
import SectionContainer from "@components/containers/SectionContainer.astro";
import Stack from "@components/primitives/Stack.astro";
import Card from "@components/primitives/Card.astro";
import { getAbout } from "@data/about.tsx";
import PageContainer from "@components/containers/PageContainer.astro";
import BackgroundImage from "@assets/background-transparent.png";
import Heading from "@components/primitives/Heading.astro";
import Text from "@components/primitives/Text.astro";
import Spacer from "@components/primitives/Spacer.astro";

const aboutContent = await getAbout();
---

<BaseLayout title="Home">
  <PageContainer id="home" class="homepage-container">
    <SectionContainer>
      <Hero />
    </SectionContainer>

    <Spacer />

    <SectionContainer class="about-section fade-in-element" id="about">
      <Stack direction="row" gap="lg" justify="center" align="top">
        <Heading titleSize="h2">{aboutContent.title}</Heading>
        <div><aboutContent.Content /></div>
      </Stack>
    </SectionContainer>

    <Spacer />

    <SectionContainer id="contact">
      <Stack direction="row" gap="md" justify="center" align="top">
        <Stack direction="column" gap="md" justify="center" align="center">
          <Heading titleSize="h2" align="center">Get In Touch</Heading>
          <!-- <Text>
            If you are looking for web services and think we could be a good
            fit, don't hesitate to reach out via phone or email - or fill out
            the form to get in touch!
          </Text> -->
          <Text align="center">
            If you are looking for web services and think we could be a good
            fit, don't hesitate to reach out via email: <a
              href="mailto:sam@noelwebstudio.com">sam@noelwebstudio.com</a
            >. Stay tuned for a contact form coming soon!
          </Text>
        </Stack>
      </Stack>
    </SectionContainer>

    <!-- <SectionContainer>
		<Stack
		direction="column"
					gap="md"
					horizontalAlign="left"
					verticalAlign="top"
		>
			<h2>What Our Customers Are Saying…</h2>
			<Grid columns={3}>
				{reviewsCollection.map((review) => (
					<Stack
					direction="column"
					gap="sm"
					horizontalAlign="left"
					verticalAlign="top"
					>
						<h3>{review.name}</h3>
						<p>{review.review}</p>
						{/* <p><strong>- {review.author}</strong></p> */}
					</Stack>
				))}
			</Grid>
		</Stack>
	</SectionContainer> -->
  </PageContainer>
</BaseLayout>

<style define:vars={{ backgroundImage: `url(${BackgroundImage.src})` }}>
  .homepage-container {
    background-image: url(/src/assets/background-transparent.png); /*var(--backgroundImage); */
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  @media (max-width: 768px) {
    .homepage-container {
      background-image: url(/src/assets/background-mobile-transparent.png); /*var(--backgroundImage); */
      background-position: center top;
      background-repeat: no-repeat;
      background-size: contain;
      background-attachment: scroll;
    }
  }
</style>
