---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/composits/Hero.astro";
import SectionContainer from "@components/containers/SectionContainer.astro";
import Stack from "@components/primitives/Stack.astro";
import Card from "@components/primitives/Card.astro";
import Grid from "@components/primitives/Grid.astro";
import Button from "@components/primitives/Button.astro";
import Divider from "@components/primitives/Divider.astro";
import { getServices } from "@services/loaders/data/services";
import { getReviews } from "@services/loaders/data/reviews";
import { getAbout } from "@services/loaders/pages/home/about"; 
import Carousel from "@components/primitives/Carousel.astro";

const servicesCollection = await getServices();
const reviewsCollection = await getReviews();
const aboutContent = await getAbout();
---

<BaseLayout>
		<Hero 
		title="Drinks, Crêpes, and Sandwiches"
		subtitle="We serve a wide variety of hot, iced, and frozen  drinks, as well as savory,  sweet, and breakfast crêpes, and sandwiches.  Every drink and food item is made to order!"/>

	<SectionContainer>
		<!-- <Grid columns={3}>
			{servicesCollection.map((service) => (
				<Card
				title={service.title}
				text={service.text}
				imageName={service.imageName}
				/>
			))}
  		</Grid> -->
		<Carousel>
			{servicesCollection.map((service) => (
				<Card
				title={service.title}
				text={service.text}
				imageName={service.imageName}
				/>
			))}
  		</Carousel>
	</SectionContainer>

	<SectionContainer>
		<Divider/>
		<h2>Our Menus</h2>
		<Grid columns={3} gap={16}>
			<Button href="#" label="Cornwall Menu"></Button>
			<Button href="#" label="Campbelltown Menu"></Button>
			<Button href="#" label="Annville Menu"></Button>
		</Grid>
		<Divider/>
	</SectionContainer>

	<SectionContainer>
		<h2>ABOUT</h2>
		<Stack
			direction="row"
			gap="md"
			horizontalAlign="center"
			verticalAlign="top"
		>
			<h3>{aboutContent.title}</h3>
			<div><aboutContent.Content/></div>
		</Stack>
	</SectionContainer>

	<SectionContainer>
		<Divider/>
	</SectionContainer>

	<SectionContainer>
		<Stack
		direction="column"
					gap="md"
					horizontalAlign="left"
					verticalAlign="top"
		>
			<h2>What Our Customers Are Saying…</h2>
			<Grid columns={3}>
				{reviewsCollection.map((review) => (
					<Stack
					direction="column"
					gap="sm"
					horizontalAlign="left"
					verticalAlign="top"
					>
						<h3>{review.name}</h3>
						<p>{review.review}</p>
						{/* <p><strong>- {review.author}</strong></p> */}
					</Stack>
				))}
			</Grid>
		</Stack>
	</SectionContainer>

</BaseLayout>

<style>


</style>