---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  href: string;
  label: string;
  variant: "primary" | "secondary";
}

const {
  href = "#",
  label = "Click Here",
  variant = "primary",
  ...props
} = Astro.props;
---

<a type="button" href={href} class={`button ${variant}`} {...props} aria-label={label} title={label}>
  {label}
</a>

<style>
  .button {
    display: inline-block;
    padding: var(--space-2);
    transition: opacity 0.2s ease;
    border-radius: 4px;
    text-align: center;
    font-family: var(--font-cabin);
    text-decoration: none;
    transition: background 0.2s ease;
  }

  .button:focus {
    outline: 2px solid blue;
    color: blue;
  }

  .primary {
    border: 1px solid #fff;
    background-color: #fff;
    color: black;
  }

    .primary:hover {
      border: 1px solid #b8b8b8;
    background-color: #b8b8b8;
    color: black;
  }

  .secondary {
    border: 1px solid #fff;
    background-color: none
    color: var(--color-text);
  }

  .secondary:hover {
    background-color: #fff;
    color: black;
  }
</style>
