---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  href: string;
  label: string;
  variant: "primary" | "secondary";
}

const {
  href = "#",
  label = "Click Here",
  variant = "primary",
  ...props
} = Astro.props;
---

<a type="button" href={href} class={`button ${variant}`} {...props} aria-label={label} title={label}>
  {label}
</a>

<style>
  .button {
    display: inline-block;
    padding: var(--space-4x);
    transition: opacity 0.2s ease;
    border-radius: var(--border-radius-sm);
    text-align: center;
    font-family: var(--font-noto-sans);
    text-decoration: none;
    transition: background 0.2s ease;
  }

  .button:focus {
    outline: 2px solid blue;
    color: blue;
  }

  .primary {
    border: var(--border-width) solid var(--color-btn-surface-primary);
    background-color: var(--color-btn-surface-primary);
    color: var(--color-btn-text-primary);
  }

  .primary:hover {
    border: var(--border-width) solid var(--color-btn-surface-muted);
    background-color: var(--color-btn-surface-muted);
    color: black;
  }

  .secondary {
    border: var(--border-width) solid var(--color-btn-surface-secondary);
    background-color: none
    color: var(--color-body);
  }

  .secondary:hover {
    background-color: var(--color-btn-surface-primary);
    color: var(--color-btn-text-primary);;
  }
</style>
