---
import "@styles/global.css";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"section"> {
  direction: "row" | "column";
  gap: "xs" | "sm" | "md" | "lg";
  justify: "left" | "center" | "right";
  align: "top" | "center" | "bottom";
  className?: string;
}

const {
  direction = "column",
  gap = "md",
  justify = "left",
  align = "top",
  className = "",
  ...props
} = Astro.props;
---

<section
  class:list={[
    "stack",
    "content-block",
    `direction-${direction}`,
    `gap-${gap}`,
    `horizontal-align-${justify}`,
    `vertical-align-${align}`,
    `${className}`,
  ]}
  {...props}
>
  <slot />
</section>

<style>
  .stack {
    display: flex;
    width: 100%;
  }

  @media (max-width: 768px) {
    .stack {
      flex-direction: column;
    }
  }
</style>
